
#home1{
     background-color: rgb(234, 248, 255);
    padding-top: 60px;
    padding-bottom: 60px;
}
.festivalcard{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,40,212,1) 50%, rgba(0,0,0,1) 100%) !important;
}
.festivalicon{
    width: 110px;
    height: auto;
    border: 5px solid rgb(229,255,204);
    border-radius: 50%;
    background-color: #ff821b;
}
.awardicon{
    width: 110px;
    height: auto;
    border: 5px solid rgb(229,255,204);
    border-radius: 50%;
    background-color: #ff821b;
}
.comedyicon{
    width: 110px;
    height: auto;
    border: 5px solid rgb(229,255,204);
    border-radius: 50%;
    background-color: #ff821b;
}


